<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= data.title %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>P2P Football Game</h1>
  
  <div id="setup">
    <a id="hostButton" href="host">Host Game</a>
    <a id="joinButton" href="client">Join Game</a>
  </div>
</body>
</html>